.panel {
  position: relative;
  background-color: $gray-200;
  @include padding;

  @include from($tablet) {
    padding: 3rem;
  }

  &--flat {
    background-color: $white;
  }

  &--inverted {
    background-color: transparent;
  }

  &--padding-small {
    @include padding-small;
  }

  &--has-heading {
    margin-top: 3.5rem;
  }

//  & + & {
//    border-top: 1px solid $gray-500;
//  }

}
