.panel {
  position: relative;
  background-color: $gray-200;
  padding: 1.5rem;

  @include from($tablet) {
    padding: 3rem;
  }

  &--padding-small {
    padding: 1rem;

    @include from($desktop) {
      padding: 1.5rem;
    }
  }

  &--has-heading {
    margin-top: 3.5rem;
    padding-top: 0;
  }

  & + & {
    margin-top: 7rem;
  }s
}
