.accent {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;

  @include media-breakpoint-up(md) {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  &--shallow {
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: $white;

    @include media-breakpoint-up(md) {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
    }
  }

  &--loud {
    color: $white;
    background-color: $pinkAccess;
  }


  &--muted {
    background-color: $gray-100;
  }

  &--fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
  }

  &--bottom {
    padding-bottom: 0;
  }
}

.accent__text {
  display: block;
  font-size: 1.6rem;
  margin-top: 1rem;

  @include media-breakpoint-up(sm) {
    overflow: hidden;
    font-size: 1.8rem;
    margin-top: 0;
  }
}

.accent__content {
  color: $white;
  font-family: $font-family-heavy;
  background-color: $gray-900;
  padding: 1.5rem 2rem;
  position: relative;
  z-index: 1;
  margin-top: -2rem;

  @include media-breakpoint-up(sm) {
    margin-bottom: 4rem;
    margin-top: -6rem;
  }

  .accent__link {
    color: $white;
    border-bottom-color: $white;

    .has-hover & {
      &:focus,
      &:active,
      &:hover {
        color: $white;
        border-bottom-color: $white;
      }
    }
  }

  & + .form {
    @include media-breakpoint-up(sm) {
      margin-top: -2.5rem;
    }
  }

  .accent--fixed & {
    margin-bottom: 0;
    margin-top: auto;
    background-color: $footer-warning;

    @include media-breakpoint-up(sm) {
      padding-right: 6rem;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-right: 0;

    .wrapper--constant & {
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }

  @include media-breakpoint-up(sm) {
    margin-left: 2rem;
    margin-right: 2rem;

    .wrapper--constant & {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.accent__warning {
  font-size: 2.2rem;
  padding-left: 4rem;
  margin-top: -.2rem;
  background-repeat: no-repeat;
  margin-right: 2.1rem;
  padding-right: 2rem;
  background-image: url('/ui/svg/warning-red.svg');
  background-position: center left;
  position: relative;

  @include media-breakpoint-up(sm) {
    float: left;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      width: 1px;
      background-color: rgba($white, .2);
    }
  }
}
