.btn {
  border-radius: 0;
  font-size: 2rem;
  line-height: 1;
  padding: 1rem;
  color: inherit;
  cursor: pointer;
}

.btn--link {
  &:active,
  &:focus {
    color: $brand-green;
    text-decoration: underline;
  }

  .has-hover & {
    &:hover {
      color: $brand-green;
      text-decoration: underline;
    }
  }
}

.btn--static {
  position: absolute;
}

.btn--flat,
.btn--link {
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  border-bottom: 2px dashed $brand-green;

  .has-hover & {
    &:hover {
      color: $brand-green;
    }
  }
}

.btn--flat {
  border-bottom: 0;
  font-size: 1.5rem;

  @include from($tablet) {
    font-size: 1.8rem;
  }
}
