
.form--search {
  padding: 0 2rem 2rem;
  width: 100%;

  @include from($tablet) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .control {
    @include padding-small;
    padding-left: $gap / 4;
    padding-right: $gap / 4;
  }

  .masthead__takeover & {
    @include vertical-align;
  }

  .input {
    border: 2px solid $gray-300;
  }

  &.form--narrow {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    @include from($tablet) {
      padding-left: 2rem;
      padding-right: 2rem;      
    }
  }
}