$offset: 3.5rem;

@mixin fake-hr {
  &::before,
  &::after {
    content: '';
    height: 1px;
    background-color: $gray-200;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: -10rem;
    width: 100%;
    left: -1rem;
  }
}

.list-offset {
  &.list-unstyled {
    margin-top: 3rem;
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 6rem;
  }

  &--single {
    margin-bottom: 0;
  }

  .time {
    display: inline-block;
    bottom: 100%;
    color: $body-text;
    padding: .4em .4em .4em 0;
    white-space: nowrap;
  }

  .list-item {
    max-width: 50rem;
    margin: 15rem auto;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    &:not(.list-item--has-image) {
      @include fake-hr;

      &::before {
        display: none;
      }

      .heading-inline {
        background-color: transparent;
      }
    }

    .list-item__inner {
      position: relative;
      max-width: 50rem;

      &--indented {
        @include media-breakpoint-up(sm) {
          left: 2rem;
        }
      }

      .heading-inline {
        left: 1rem;

        @include media-breakpoint-up(sm) {
          left: -1rem;
        }

        span {
          left: -1rem;

          @include media-breakpoint-up(sm) {
            padding-left: 0;
            left: 0;
          }
        }
      }

      .long-form {
        margin: 2rem 0 0;
        width: 100%;
        color: $body-text;

        @include media-breakpoint-up(sm) {
          margin-left: -1rem;
        }
      }
    }

    .link-text,
    .time {
      position: absolute;
      background-color: $white;
      left: 0;

      @include media-breakpoint-up(sm) {
        margin-left: -1rem;
      }
    }

    .link-text {
      top: calc(100% + 2.5rem);
    }

    .image {
      img {
        max-height: 45rem;
        max-width: 100%;
        width: auto;
      }
    }

    .list-item__link {
      display: block;

      .has-hover & {
        &:hover {
          text-decoration-color: $pink;

          .has-arrow {
            &:after {
              right: 1rem;
            }
          }

          .long-form {
            display: inline-block;
            text-decoration: none;
          }

          .list-item__title span {
            text-decoration: underline;
            text-decoration-color: $pink;
          }

          .link-text {
            color: $pinkAccess;
            text-decoration: none;
            border-bottom-style: solid;
            border-bottom-color: $pinkAccess;
          }
        }
      }
    }

    .list-item__title {
      position: relative;
      max-width: 42rem;
      margin-top: $offset;
      padding-bottom: .1em;

      span {
        bottom: 0;
      }
    }

    &.list-item--has-image {
      max-width: none;
      margin-bottom: 3rem;

      .list-item__inner {
        margin-top: -2.8rem;

        @include media-breakpoint-up(sm) {
          margin-top: 0;
          @include vertical-align;
        }

        .heading-inline {
          span {
            @include media-breakpoint-up(sm) {
              left: -1rem;
            }
          }
        }

        .time {
          @include media-breakpoint-up(sm) {
            margin-left: -2rem;
          }
        }
      }

      .list-item__title {
        z-index: 1;
      }

      & + .list-item {
        margin-top: 10rem;
      }

      & + .list-item:not(.list-item--has-image) {
        &::before {
          display: block;
          bottom: calc(100% + 5rem);
        }
      }

      & + .list-item--has-image {
        &::after {
          content: '';
          height: 1px;
          background-color: $gray-200;
          max-width: 50rem;
          margin-left: auto;
          margin-right: auto;
          position: absolute;
          top: -4rem;
          width: 100%;
          left: 20%;
        }
      }
    }

    & + .list-item--has-image {
      margin-top: -2rem;
    }

    span + .has-arrow {
      margin-left: 1rem;
    }

    &.list-item--alternate {
      @include media-breakpoint-up(sm) {
        left: auto;

        .list-item__title {
          &::before {
            left: auto;
            right: -2rem;
          }
        }

        span {
          left: auto !important;
          right: 0;
        }

        .hidden--xs {
          left: 0 !important;
        }

        .link-text,
        .time,
        .list-item__title {
          text-align: right;
          left: auto;
          right: 0;
        }

        .time {
          padding-left: .4em;
          padding-right: 0;
        }

        .list-item__inner {
          right: 0;
          text-align: right;
        }
      }
    }
  }
}


.list-item__link {
  .list-item__text {
    display: inline;
    border-bottom-style: dotted;
    border-bottom-color: transparent;
  }

  & + p {
    margin-top: 1.5rem;
  }

  .has-hover & {
    &:hover {
      .list-item__text {
        color: $pinkAccess;
        text-decoration: none;
        border-bottom-style: solid;
        border-bottom-color: $pinkAccess;
      }
    }
  }
}


