.skip {
  display: block;
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip:active,
.skip:focus,
.skip:hover {
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  left: auto;
  display: block;
  background-color: $white;
  top: auto;
  white-space: normal;
  padding: .5em .7em;
  margin: 1rem;
  z-index: 100000;
}
