.hero {
  position: relative;
  //height: calc(100vw - 300px);
  //max-height: 25vh;
  min-height: 85px;
  background-position: center;
  background-size: cover;

  &--shallow {
    height: auto;
    max-height: none;
  }
}