.hero {
  position: relative;
  height: calc(100vw - 300px);
  max-height: 25vh;;
  background-position: center;
  background-size: cover;

  &--shallow {
    height: auto;
    max-height: none;
  }
}