@import "../../scss/_settings";

%container,
.container {
  @include max-width;

  &.full-width {
  	max-width: 100%;
  }

  &--constrained {
  	max-width: 50rem;
  }

  &.has-icon {
    padding-right: 4rem !important;
  }

  &--padded {
    @include padding-vertical-small;
  }
}