$diameter: 20px;

.spinner {
  position: relative;

  &--static {
    position: absolute;
    right: 2rem;
    top: 3rem;

    // ugh not the most elegant thing
    .react-autosuggest__suggestions-container--homepage & {
      right: 8rem;
    }
  }

  &:after {
    transition: .5s opacity linear;
    opacity: 0;
    position: absolute;
    content: '';
    display: block;
    width: $diameter;
    height: $diameter;
    transform-origin: center center;
    top: 50%;
    left: 50%;
    margin-top: -($diameter + 6px) / 2;
    margin-left: -($diameter + 6px) / 2;
    border-width: 4px;
    border-style: solid;
    border-color: $pink $pink transparent transparent;
    border-radius: 50%;
    overflow: hidden;
    animation: spinner .6s infinite linear;
  }


  &--fixed {
    $diameter: 60px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -($diameter - 10px) / 2;
    margin-left: -($diameter - 10px) / 2;

    &:after {
      width: $diameter;
      height: $diameter;
    }

    .spinner__inner {
      display: none;
    }
  }
}

.spinner--active {
  &:after {
    opacity: 1;
  }
}

@keyframes spinner {
  0% { transform: rotate(0); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}
