.download-block {
  padding-right: 3rem;

  position: relative;
  display: block;

  .download {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.downloads-container {
  padding-bottom: 5rem;
} 