
//
// Horizontal rules
//

.hr,
hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 1px solid $gray-900;

  &--inverse {
    margin-top: 2.5rem;
    border-top-color: $teal;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  &--muted {
    margin-top: 0;
    border-top-color: $gray-300;
  }

  &--large {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include media-breakpoint-up(sm) {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
}
