
$dims: 1.4rem;

.collapsible-wrapper {
  margin-bottom: 5rem;
}

.collapsible__inner {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &::before {
    content: '';
    display: block;
    clear: both;
    height: 0;
    position: relative;
  }
}

.collapsible {
  background-color: $gray-100;
  transition: background-color .3s linear;
  @include padding-small;

  &--active {
    background-color: transparent;
  }

  .collapsible__content {
    //display: none;
    overflow: hidden;
    position: relative;
    transition: height .15s ease-in-out;

    &.collapsible__content--active {

      &::after {
        display: none;
      }
    }
  }

  .collapsible__trigger {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.2;

    .has-hover & {
      &:hover,
      &:active {
        color: inherit;
        text-decoration: underline;
        text-decoration-color: $brand-green;
      }
    }
  }

  &.collapsible--chevron {
    .collapsible__trigger {
      position: relative;
      padding-right: 3rem;

      &::before {
        content: '';
        position: absolute;
        width: $dims;
        height: $dims;
        right: 0;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('/svg/arrow-down.svg');
        transition: all 0.25s .1s;
        transform: rotate(0);
      }
    }

    .collapsible__trigger--active {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  .collapsible__title {
    margin-bottom: 0;

    @include from($tablet) {
      font-size: $size-4;
    }

    @include from($desktop) {
      font-size: $size-3;
    }    
  }

  strong {
    display: inline-block;
  }

  & + & {
    border-top: 1px solid $gray-800;
  }
}
