
@mixin link {
  margin-bottom: .2em;
  color: $brand-green;
  text-decoration: underline;

  .has-hover & {
    &:active,
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

@mixin break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  // hyphens: auto;
}

@mixin vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin max-width {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;  
}