

/**
 * Base panel styles
 */
.panel,
%panel {
  width: 100%;
  background-color: $gray-100;
  @include padding;
  position: relative;
  background-size: cover;
  background-position: center center;

  &--flush {
    padding: 0 !important;
  }
}

.panel--padding-small {
  @include padding-small;
}
