
// brand colors
$brand-green: #0a6154;
$brand-green-darker: #083d35;
$brand-purple: #2c2d84;
$brand-purple-darker: #1C1C55;
$brand-pink: #fa7c91;
$brand-brown: #757763;
$brand-beige-light: #e9ece7;
$brand-beige-lighter: #e9ece7;
$brand-orange: #ffdc8e;
$brand-grey-bg: #eee;
$brand-dark-grey-bg: #343e44;

// greys
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #d8d8d8 !default;
$gray-900: #434b51 !default;

$black:    #000 !default;

// global variables

$constrained-width: 700px;
$gap: 64px !default
$tablet: 769px !default
$desktop: 960px !default
$widescreen: 1152px + (2 * $gap) !default
$widescreen-enabled: true !default
$fullhd: 1344px + (2 * $gap) !default
$fullhd-enabled: true !default
$max-width: $desktop;