// stylelint-disable declaration-no-important, selector-list-comma-newline-after

$size-1: 3rem !default
$size-2: 2.5rem !default
$size-3: 2rem !default
$size-4: 1.5rem !default
$size-5: 1.25rem !default
$size-6: 1rem !default
$size-7: 0.75rem !default

$size-h1:       56px;
$size-h1-m:     30px;
$size-h2:       36px;
$size-h2-m:     22px;
$size-h3:       32px;
$size-h3-m:     18px;
$large-body:    24px;
$large-body-m:  16px;
$medium-body:   18px;
$medium-body-m: $large-body-m;   
$small-body:    15px;
$small-body-m:  12px;
$intro-ul:      28px;
$intro-ul-m:    $size-h3-m;

$title-color: $black !default
$title-family: false !default
$title-size: $size-3 !default
$title-line-height: 1.125 !default
$title-strong-color: inherit !default
$title-strong-weight: inherit !default
$title-sub-size: 0.75em !default
$title-sup-size: 0.75em !default

$subtitle-color: $gray-800 !default
$subtitle-family: false !default
$subtitle-size: $size-5 !default
$subtitle-line-height: 1.25 !default
$subtitle-strong-color: $gray-800 !default
$subtitle-negative-margin: -1.25rem !default

h1,
.h1,
%h1 {
  font-size: $size-h1-m;
  line-height: 1.2;
  margin-top: 1.2em;
  margin-bottom: .5em;
  font-family: $body-family-bold;
  font-weight: 700;

  @include from($tablet) {
    font-size: $size-h1;
  }
}

h2,
.long-form h2, 
.h2,
%h2 {
  line-height: 1.2;
  font-size: $size-h2-m;
  font-family: $body-family-bold;
  font-weight: 700;
  margin-bottom: .6em;

  @include from($tablet) {
    font-size: $size-h2;
  }
}

.long-form h3, 
h3,
.h3,
%h3 {
  line-height: 1.4;
  font-size: $size-h3-m;
  font-family: $body-family-bold;
  font-weight: 700;
  margin-bottom: .5em;

  @include from($tablet) {
    font-size: $size-h3;
  }
}

.constrained {
  max-width: 500px;

  &--wide {
    max-width: 45rem;
  }
}


h4,
.h4,
%h4 {
  margin-bottom: 1em;
  font-size: $large-body-m;  

  @include from($tablet) {
    font-size: $large-body;
  }
}

@mixin standardText {
  font-size: $medium-body-m;  

  @include from($tablet) {
    font-size: $medium-body;
  }
}

p {
  margin-bottom: 1em;

  a {
    @include link;
  }

  &:last-of-type {
    margin-bottom: 0;
  } 
}

.lead {
  @extend %h4;

  &--padded {
    padding: .5em 0;
  }
}



strong,
.bold,
b {
  font-family: $body-family-bold;
  font-weight: 700;
}

.list-link {
  display: block;
  color: inherit;

  .has-hover & {
    &:hover p {
      text-decoration: none;
    }
  }
}

%break-word,
.break-word {
  @include break-word;
}


// long-form content overrides

.long-form {
  
  p {
    margin-bottom: 1em;
  }

  li, 
  p {
    font-size: $medium-body-m;

    @include from($tablet) {
      font-size: $medium-body;
    }    
  }

  a {
    @include link;

    &.btn--primary {
      color: $white;
      margin-top: 1.5rem;
      display: inline-block;
      text-decoration: none;
    }
  }

  h2,
  h3 {
    line-height: 1.1;
    margin-top: 1.6em;
  }

  p {
    margin-top: .8em;
    line-height: 1.4;
  }

  ol,
  ul {
    padding-left: 0;

    > li {
      padding-left: 2.5rem;
      position: relative;
      margin-bottom: .5rem;
      
      p {
        margin-left: 0;
      }
    }
  }

  ul {
    > li {
      list-style: none;
      
      &::before {
        content: '';
        position: absolute;
        left: 0;        
        background-color: $black;
        border-radius: 100%;
        height: 6px;
        top: .6em;
        width: 6px;
      }
    }
  }

  ol {
    counter-reset: counter;

    > li {
      left: 1rem;
      padding-left: 1.5rem;

      &::before {
        display: none;
        content: counter(counter);
        counter-increment: counter;
      }
    }
  }
}
