

.hidden-m-up {
  display: none;
}

.hidden-m-down {
  @include until($tablet) {
    display: none;
  }
}

.visible-m-down {
  display: block;
  
  @include from($tablet) {
    display: none;
  }
}

.spaced-left {
	margin-left: 1rem;
}