

.hidden-m-up {
  display: none;
}

.hidden-m-down {
  @include until($tablet) {
    display: none;
  }
}

.visible-m-down {
  display: block;
  
  @include from($tablet) {
    display: none;
  }
}

.spaced-left {
  margin-left: 1.4rem;
}

.d-block {
  display: block;
}

.flush {
  margin: 0;
}

.is-last {
  margin-bottom: 4.5rem;

  @include from($tablet) {
    margin-bottom: 7rem;
  }  
}

.is-inline-block {
  //vertical-align: middle;
}

/**
 * Spacing mixin
 */
@mixin spacing($prefix: '') {
  @each $direction in '-top', '-bottom', ''  {
    .#{$prefix}sp#{$direction}--flush {
      margin#{$direction}: 0 !important;
    }

    .#{$prefix}sp#{$direction}--single {
      @if ($direction != '') {
        margin#{$direction}: ($gap / 2) !important;
      }
      @else {
        margin-top: ($gap / 2) !important;
        margin-bottom: ($gap / 2) !important;
      }
    }

    .#{$prefix}sp#{$direction}--double {
      @if ($direction != '') {
        margin#{$direction}: $gap !important;
      }
      @else {
        margin-top: $gap !important;
        margin-bottom: $gap !important;
      }
    }
  }
}

/**
 * Apply vertical spacings to the site's breakpoints
 */
@include spacing();

@include from($tablet) {
  @include spacing('md-');
}

@include from($desktop) {
  @include spacing('lg-');
}

