

.hidden-m-up {
  display: none;
}

.hidden-m-down {
  @include until($tablet) {
    display: none;
  }
}

.visible-m-down {
  display: block;
  
  @include from($tablet) {
    display: none;
  }
}

.spaced-left {
  margin-left: 1.4rem;
}

.d-block {
  display: block;
}

.flush {
  margin: 0;
}

.has-icon {
  padding-right: 3rem;
}

.is-last {
  margin-bottom: 4.5rem;

  @include from($tablet) {
    margin-bottom: 7rem;
  }  
}

.is-inline-block {
  //vertical-align: middle;
}

::-ms-clear {
  right: 3rem;
}


