@charset "utf-8";

@import "settings";
@import "fonts";

$link: $brand-green;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Some component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$body-color: $black;
$body-family: 'OpenSans', sans-serif;
$body-family-bold: 'OpenSans-Bold', sans-serif;

// Bulma styles
// overwriting the nav breakpoint
@import "~bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $tablet;

// all other utilities
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/components/navbar.sass";
//@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";


// components and ting
// but v local
@import "_mixins";
@import "title";
@import "utilities";
@import "_padding";
@import "panel";

// modules - will move these back in to be required by the components themselves
@import "../components/Collapsible/Collapsible.module.scss";
@import "../components/Breadcrumb/Breadcrumb.module.scss";
@import "../components/Button/Button.module.scss";
@import "../components/Masthead/Masthead.module.scss";
@import "../components/Container/Container.module.scss";
@import "../components/LinkList/LinkList.module.scss";
@import "../components/PageTitle/PageTitle.module.scss";
@import "../components/Footer/Footer.module.scss";
@import "../components/Divider/Divider.module.scss";
@import "../components/Main/Main.module.scss";
@import "../components/Accent/Accent.module.scss";
@import "../components/Panel/Panel.module.scss";
@import "../components/Skiplinks/Skiplinks.module.scss";
@import "../components/Hero/Hero.module.scss";
@import "../components/ButtonGroup/ButtonGroup.module.scss";
@import "../components/Icon/Icon.module.scss";
@import "../components/Form/Form.module.scss";