@mixin fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
}

.masthead {
  position: relative;
  z-index: 100;
  width: 100%;
}

.masthead__inner {
  @include max-width;
}

.masthead__takeover__inner,
.masthead__inner {
  @include padding-small;
}

//.masthead__takeover__inner {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}

.masthead__takeover {
  z-index: 95;
  @include fixed;
  background-color: $brand-green;
}

.takeover-bg {
  @include fixed;
  background-color: rgba($black, .7);
}

.navbar {
  background-color: transparent;

  .navbar-item {
    color: $white;
    // text-transform: uppercase;
    font-size: 1.2rem;
    padding-left: 1.25em;
    padding-right: 1.25em;
    font-family: $body-family-bold;
    font-weight: 700;

    &.active {
      background-color: $brand-purple;
    }    

    @include from($tablet) {
      font-size: 1.2rem;
      font-family: $body-family;
    }

    &:focus {
      color: $white;
      background-color: $brand-purple;
    }

    .has-hover & {
      &:hover {
        color: $white;
        background-color: $brand-purple;
      }
    }      
  }
}

.navbar-primary {
  &.is-active {
    @include until($tablet) {
      background-color: $brand-purple;
      @include fixed;
      padding-top: 5rem;

      .navbar-item {
        text-align: right;
        padding-right: 2rem;
        font-size: 28px;
        font-family: $body-family;

        .has-hover & {
          &:hover {
            background-color: $brand-purple;
          }
        }       
      }
    }
  }
}

.navbar-burger {
  background-color: transparent;

  span {
    background-color: $white;
    width: 24px;
    height: 2px;
    left: calc(50% - 12px);    
  }

  span:nth-child(1) {
    top: calc(50% - 8px);
  }

  span:nth-child(2) {
    top: calc(50%);
  }  

  span:nth-child(3) {
    top: calc(50% + 8px);
  }

  &.is-active {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 1000;
    background-color: transparent;

    span {
      background-color: $white;
    }

    span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }    
  }

  .has-hover & {
    &:hover {
      background-color: $gray-100;

      span {
        background-color: $black;
      }
    }
  }
}


