.masthead {
  position: relative;
  z-index: 100;
  background-color: $white;
  width: 100%;
  box-shadow: 0 3px 5px -2px rgba($black, .2);
}

.masthead__takeover__inner,
.masthead__inner {
  position: relative;
}

.masthead__takeover__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.masthead__takeover {
  position: absolute;
  z-index: 95;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
}

.navbar-expand-md {
  @include from($desktop) {
    display: flex !important;
  }
}

.takeover-bg {
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($black, .4);
}

.form--search {
  flex-basis: 75%;
  position: relative;

  input[type='search'] {
    width: 100%;
    border: 0;
  }

  .btn--flat {
    &.submit {
      position: absolute;
      left: 100%;
      top: 4rem;
      margin-left: 1rem;

      img {
        width: 2.4rem;
        height: 2.4rem;
      }

      @include from($tablet) {
        top: 6.2rem;
      }

      @include from($desktop) {
        img {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    &.btn--flat-right {
      left: auto;
      right: 0;
    }
  }
}
