

.masthead {
  position: relative;
  z-index: 100;
  background-color: $white;
  width: 100%;
}

.masthead__takeover__inner,
.masthead__inner {
  position: relative;
  @include padding-small;
}

.masthead__takeover__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.masthead__takeover {
  position: absolute;
  z-index: 95;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
}

.takeover-bg {
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($black, .4);
}

.form--search {
  flex-basis: 75%;
  position: relative;

  input[type='search'] {
    width: 100%;
    border: 0;
  }

  .btn--flat {
    &.submit {
      position: absolute;
      left: 100%;
      top: 4rem;
      margin-left: 1rem;

      img {
        width: 2.4rem;
        height: 2.4rem;
      }

      @include from($tablet) {
        top: 6.2rem;
      }
    }

    &.btn--flat-right {
      left: auto;
      right: 0;
    }
  }
}
